.root{ 
    max-width: 300px;
    margin-bottom:20px;
    margin-top: 20px;
    margin-right:20px;
    // backgroundColor: "#949090"
};
.title{ 
    font-size: 20;
    color:'Blue';
    font-weight: bold;
 };
.pos{ 
    margin-bottom: 5;
    font-size: 16;
};