.root{ 
    max-width: 400px;
    min-width: 250px;
    margin-bottom:20px;
    margin-top: 20px;
    margin-right:20px;
    background-color:  #ee9b9b;
    color: #ee9b9b;
};
.title{ 
    font-size: 20;
    color:'Blue';
    font-weight: bold;
 };
.pos{ 
    margin-bottom: 5;
    font-size: 16;
    font-weight: bold;
};