.root {
  all: unset;
  max-width: 350px;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-right: 25px;
}

.item{
  all: unset;
  display: flex;
  font-size: medium;
  font-weight: bold;
  .name{
    font-weight: normal;
    color: #6d6868;
  }
}

.cardActions {
  margin-left: 180px;
}
