.Header {
  background: linear-gradient(90deg, rgba(11, 31, 97, 0.158), rgb(239, 245, 224) 100%);
}

.heading {
  color: rgb(253, 251, 251);
  font-size: large;
  font-weight: bold;
  white-space: nowrap;
}

.drawerHeader {
  display: "flex";
  align-items: "center";
  justify-content: "flex-end";
}
