.Header {
  background: linear-gradient(90deg, rgb(59, 39, 236), rgb(239, 245, 224) 100%);
}

.heading {
  color: rgb(236, 226, 226);
  font-size: large;
  font-weight: bold;
  white-space: nowrap;
}

.drawerHeader {
  display: "flex";
  align-items: "center";
  justify-content: "flex-end";
}
