.NavbarItems {
  background: linear-gradient(90deg, rgb(210, 207, 238), rgb(97, 95, 153) 100%);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
